.carousel {
  width: 80%; }


* {
  font-family: 'Advent Pro', sans-serif; }

.nav-bar {
  background-color: black;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav-bar .logo {
    width: 60%; }
    .nav-bar .logo img {
      width: 100%; }
