.splash-screen .splash-banner {
  height: 60vh;
  position: relative;
  width: 100%; }
  .splash-screen .splash-banner .splash-image {
    height: inherit;
    background-image: url("./photos/HomePage/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .splash-screen .splash-banner .splash-image img {
      position: absolute;
      overflow: hidden; }
  .splash-screen .splash-banner .over-image {
    position: absolute;
    top: 20vh;
    right: 30%;
    width: 100%;
    color: white; }
    .splash-screen .splash-banner .over-image .demo-reel-button {
      background-color: #E72828; }
    .splash-screen .splash-banner .over-image h2 {
      font-size: 72px; }

.splash-screen .splash-text {
  display: flex;
  justify-content: center;
  padding-top: 1%; }
  .splash-screen .splash-text p {
    width: 80%;
    font-size: 30px; }

.carousels {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .carousels .home-portfolios {
    height: 100px;
    width: 100px; }


body {
  font-family: 'Advent Pro', sans-serif; }

.nav-bar {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .nav-bar .logo {
    width: 35%;
    height: 100%; }
    .nav-bar .logo img {
      max-width: 100%;
      max-height: 100%; }
  .nav-bar .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 100%; }
    .nav-bar .links a {
      font-size: 20px;
      color: white; }
