.hompage-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.splash-screen {
  width: 100%;
  height: 60vh;
  .splash-banner {
    width: 100%;
    height: 60%;
    overflow:hidden;
    position: relative;
    .splash-photo {
      left: 0;
      position: absolute;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      min-width: 100%;
    }
    .button {
    color: white;
    left: 5%;
    position: absolute;
    top: 40%;
    }
  }
  .text {
    padding-top: 10%;
  }
}

.carousel-container {
  width: 80%;
  padding: 50px;
}
.videos {
  display: flex;
  align-items: center;
  flex-direction: column;
  .video {
    video {
      width: 100%    !important;
      height: auto   !important;
    }
  }
}
// .splash-screen {
//   .splash-banner {
//     height: 60vh;
//     position: relative;
//     width: 100%;
//      .splash-image {
//       height: inherit;
//       background-image: url("./assets/photos/HomePage/splash.jpg");
//       background-repeat: no-repeat;
//       background-size: cover;
//       img {
//         position: absolute;
//         overflow: hidden;
//       }
//      }
//      .over-image {
//        position: absolute;
//        top: 20vh;
//        right: 30%;
//        width: 100%;
//        color: white;
//        .demo-reel-button {
//          background-color: #E72828;
//        }
//        h2 {
//          font-size: 72px;
//        }
//      }
//   }
//
//   .splash-text {
//     display: flex;
//     justify-content: center;
//     padding-top: 1%;
//     p {
//       width: 80%;
//       font-size: 30px;
//     }
//   }
// }
// .carousels {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   .home-portfolios {
//     height:100px;
//     width: 100px;
//   }
// }
